.gameApp {
    margin: 15px;
    width: 1000px;
    background-color: greenyellow;
}
#gameTitle{
    text-align: center;
    font-size: 2rem;
    font-stretch: expanded;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
  
.boardArea {
    background-color: blue;
    width:800px;
    height: 500px;
    background:#eaeaeae0;
    position:relative;
    text-align: center;
}
  
#circle{
    width:40px;
    height:40px;
    /* background:red; */
    /* border-radius:5rem; */
    /*content:url(media/gray-rat-on-pink-vector-clipart_k29901716.jpg); */
    content:url(media/Rat1.png);
    position:absolute;
}

#pointer{
    width:60px;
    height:60px;
    top:100;
    left:100;
    content:url(media/Cat.png); 
    position: absolute;
}
.sidebar {
    background-color: greenyellow;
    width:200px;
    height: 500px;
    text-align:left;
    font-size: 2rem;
  }

button{
    background-color:blueviolet;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 2rem;
    margin:5px;
}

#resultframe{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 70px 140px 175px 140px;
    padding : 10px;
    width: 700px;
    height: 400px;
    background-color: orange;
    visibility: hidden;
    border: 1px solid black;
}

#result_data{
    text-align: center;
    font-size: 2rem;
}

#square{
    border:0;
    width:80px;
    padding:0px;
    margin-top: 30px;
    margin-left: calc(50% - 40px);
    margin-left: -webkit-calc(50% - 40px);
    margin-left: -moz-calc(50% - 40px);
    background:#2ecc71;
}
  
#spin {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border:dashed 5px white;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
  
@-webkit-keyframes spin {
    from {  -webkit-transform: rotate(0deg); }
    to  {  -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {  -webkit-transform: rotate(0deg); }
    to  {  -webkit-transform: rotate(360deg); }
}
