ul {
    list-style-type: none;
}

.box {
    width: 200px;
    height: 50px;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.purple {
    background: purple;
}

button {
    padding: 0.5em 1em;
    font-size: 15pt;
    border-radius: 5px;
    background-color: lightblue;
}